body{
    padding: 0;
    margin: 0;
    background-color: #4f3b78;
}




.body{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit-button {
    
    color: #DDE6ED;
    background-color:  #4f3b78;
    padding: 4px 8px;
    margin: 2px;
    display: inline-block;
    font-size: 14px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;

}

h1{
    text-align: center;
}

.body-main{
    border: 1px solid #e5e9f8;
    background: #e5e9f8;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td{
    padding: 10px;
}

.image{
    height: 3rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}