.body{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.submit-button {
    
    color: #5371db;
    background-color: #DDE6ED;
    padding: 4px 8px;
    margin: 2px;
    display: inline-block;
    font-size: 14px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;

}

h1{
    text-align: center;
}

.body-main{
    border: 1px solid green;
    background: #5371db;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td{
    padding: 10px;
}
