<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    
    <title>Employee</title>
</head>

<body onload="displayUserData()">
    <div>
        <section>
            <header class="header">
                <div class="header-logo">
                    <img src="../static/Images/Divum_Logo.svg" alt="logo" width="80">
                </div>
                <div class="header-button">
                    <div>
                        <a href="Register.html"><button type="submit" class="add-button">ADD</button></a>
                        <a href="login.html"><button type="submit" class="add-button"
                                onclick="return Logout()">LOGOUT</button></a>

                    </div>

                </div>
            </header>
        </section>
        <section class="table-section">
            <div class="table-container">
                <table class="table" id="table">
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Date of Birth</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>
        </section>
        <div id="paging">
            <button id="prevPage" onclick="prevPage()">Prev</button>
            <span id="currentPage">0</span>
            <button id="nextPage" onclick="nextPage()">Next</button>
        </div>
    </div>

    <script src="../static/javascript/script.js" ></script>
    <!-- <script src="../static/javascript/test.js"></script> -->
    <script  src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
</body>

</html>