<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="body">
        <div>
            <img src="../static/Images/Divum_Logo.svg" alt="logo" class="image">
        </div>
        <div class="body-main">
        <h1> LOGIN</h1>
        <table>
            <form onsubmit="checkLoginDetails()">
                <tr>
                    <td>Email  </td>
                    <td><input type="email" id="login-email" onchange="checkEmailExists()" autocomplete="off"></td>
                </tr>

                <tr>
                    <td> Password  </td>
                    <td><input type="password" id="password"></td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td>

                    <input type="submit" class="submit-button">

                    </td>
                    
                </tr>
            </form>
                <tr>
                    <td></td>
                    <td>
                        <a href="../templates/signup.html">Sign up here</a>
                    </td>
                </tr>
            
        </table>
    </div>
    </div>


    <script src="../static/javascript/login.js"></script>
    <script  src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>

</body>

</html>