<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Signup</title>
</head>
<body>  
    <div class="body">
        <div>
            <img src="../static/Images/Divum_Logo.svg" alt="Logo" class="image">
        </div>
        <div class="body-main">
        <h1>SIGN UP</h1>
        <table>
            <form onsubmit="updateSignup()">

                <tr>
                    <td>Email </td>
                    <td>
                        <input type="email" id="signup-email" onchange="validateEmail()" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" id="signup-name" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>
                        <input type="password" id="signup-password" required onchange="validatePassword()"> 
                    </td>
                </tr>
                <tr>
                    <td>Re-Enter password</td>
                    <td>
                        <input type="password" id="signup-ReEnter-password" onchange="checkReEnteredPassword()"> 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="submit-button">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="../templates/login.html">Back to login</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
    </div>
    
    <script src="../static/javascript/signup.js"></script>
</body>
</html>