<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Signup</title>
</head>
<body>  
    <div class="body">
        <div class="body-main">
        <h1>SIGNUP</h1>
        <table>
            <form onsubmit="updateSignup()">

                <tr>
                    <td>Email </td>
                    <td>
                        <input type="email" id="signup-email" onchange="checkEmailExists()" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" id="signup-name" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>
                        <input type="password" id="signup-password" required> 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="submit-button">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="../templates/login.html">Back to login</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
    </div>
    
    <script src="../static/javascript/signup.js"></script>
</body>
</html>